@model IEnumerable<FirstMobileApp.Models.LivreModel>

@{
    ViewBag.Title = "Index";
}

<h2>Version iPad de ma page</h2>

<ul data-role="listview" data-inset="true" data-filter="true"> 
@foreach (var item in Model) {
     <li>
           
           <a href="@Url.Action("Details", new { item.Id })">
            @Html.DisplayFor(modelItem => item.Titre) de 
            @Html.DisplayFor(modelItem => item.Auteur)
          </a>  
    </li>
      
}
</ul>

